<%= form_for [:opawesome, @test], html: {class: 'edit_test'} do |f| %>
  <div class="input">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <h2>Test Options</h2>
  <p><strong>NOTE: only edit options to fix typos, if you want to remove an option and add a new one, fully remove the option you want to get rid of and then create a new option. If you don't do this, the conversion stats from the old option will be used.</strong></p>
  <p>&nbsp;</p>
  <%= f.fields_for :options do |builder| %>
    <%= render 'option_fields', f: builder %>
  <% end %>
  <%= opaw_add_fields_link "New Attribute", f, :options %>

  <div class="input">
    <% if @test.new_record? %>
      <%= f.submit "Create Test", class: 'btn' %>
    <% else %>
      <%= f.submit "Update Test", class: 'btn' %>
    <% end %>
  </div>
<% end %>
